*.a
*.d
*.def
*.diff
*.dll*
*.dylib
*.exe
*.lib
*.mo
*.o
*.orig
*.patch
*.pc
*.pdb
*.pot
*.rej
*.so*
*.ver
*.version
*.x
*~
.*.swp
.config
config.asm
config.fate
config.h
config.log
config.mak
config_components.h
doc/*.[13]
doc/*.html
doc/*.pod
doc/avoptions_*.texi
doc/config.texi
doc/fate.txt
doc/print_options
ffbuild/config.sh
ffmpeg
ffmpeg_g
ffplay
ffplay_g
ffprobe
ffprobe_g
libav*/*_list.c
libavutil/avconfig.h
libavutil/ffversion.h
